.h1{
    align-items: center;
    font-size: 70;
    color: rgb(59, 92, 28);
}

.items-display{
    flex-direction: row;
    font: size 20px;
    flex-wrap: wrap;
    
    display: grid;
         
    grid-template-columns: repeat(3, 1fr);
         
    grid-auto-rows: auto;
         
    grid-gap: 1rem;

    border: 2px solid #e7e7e7;
 
    border-radius: 4px;
 
    padding: .5rem;
         
}
p{
    text-align:left;
}